@use '../util' as *;

.card--grid {
    padding: rem(24);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: start;
    gap: rem(21);


    .card__subtitle {

    }

    .card__icon {
        margin-right: 0;
    }

    .card__subtitle, .card__count {
        justify-self: start;
    }

    .card__count{
        margin-bottom: 0;

    }
    
    .card__count, .card__change {
        align-self: end;
    }

    img, .card__change {
        justify-self: end;
    }

}

